@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 0px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

li{
  text-indent: -1em;
}

.lbplan{
  background-color: rgba(23, 22, 45, 0.8) !important;
  padding: 15px !important;
  border-radius: 0px !important;
  height: 100% !important;
}
.lbplan span{
  background-color: transparent  !important;
}

.navbar-search{
  background: rgba(196, 196, 196, 0.3);
  border: 1px solid #000000;
}

*{
  transition: all 0.15s ease-in-out;
  transition-property: all;
}

body{
  min-width: 350px;
}

.CardTitleColor{
  background: linear-gradient(218.42deg, #D16883 16.46%, #764472 66.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}







/* code dynamics sheet */
.faqs .faq .faq-question {
	position: relative;
	transition: all 0.4s ease-in-out;
}

.faqs .faq .faq-question::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	width: 12px;
	height: 12px;

	background-image: url('/Images/angle-down-solid.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	transition: all 0.4s ease-in-out;
}

.faqs .faq .faq-answer {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.4s ease-in-out;
}

.faqs .faq.open .faq-question {
	margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
	transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
	max-height: 1000px;
	opacity: 1;
}